@{
    Layout = "_Layout";
}

@model List<Venta>


<h1>Ventas</h1>
<table class="table">
    <thead class="thead-light">
        <tr class="table-primary">
            <th scope="col">Id Cliente</th>
            <th scope="col">Id Birra</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí van las filas con los datos de la tabla -->
        @foreach (var venta in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => venta.IdClient)</td>
                <td>@Html.DisplayFor(x => venta.IdBeer)</td>
                <td>@Html.DisplayFor(x => venta.Cantidad)</td>
            </tr>
        }
    </tbody>
</table>


